:root{
  --button-color-from: #FDDB71;
  --button-color-to: #EE7A37;
  --gradient-from: #6C63FF;
  --gradient-to: #C77CF1;
  --main-gradient: #6C63FF; 
  --text-color: #000000;
   /* font sizes  */
  --fs-heading-big: 3.125rem; /* 50px */
  --fs-heading-medium: 2.5rem; /* 40px */
  --fs-heading-small: 1.875rem; /* 30px */
  --fs-plain-text-smallest: 0.75rem; /* 12px */
  --fs-plain-text-small:0.938rem; /*  15px */
  --fs-plain-text-medium: 1.125rem; /* 18px */
  --fs-plain-text-big: 1.25rem; /* 20px */
  --fs-plain-text-biggest: 1.375rem; /* 22px */
}
@font-face {
  font-family: calibri;
  src: url("./font/calibri-regular.ttf");
}
/* .section-content:hover {
  transform: scale(1.01);
  transition: .3s ease-in-out;
  padding: 10px;
  border-radius: 20px;
} */
*{
  scroll-behavior: smooth;
  font-family: calibri;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
a:hover, li:hover{
  text-decoration: underline;
  transition: .3s ease-in-out;
  transform: scale(1.1);
}
.input{
  display: flex;
  input{
    width: 321px;
    height: 59px;
    padding-left: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    box-shadow: -1px 1px 2px 2px rgba(0,0,0, 16%);
  }
  button{
    font-size: var(--fs-plain-text-medium);
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--button-color-from) 0%, var(--button-color-to) 100%);
    color: white;
    width: 147px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 0px 5px 5px 0px;
  }
}
.section-content{
  max-width: 1125px;
  margin: 0 auto;
}
.text{
  display: flex;
  flex-direction: column;
  section{
    display: flex;
    flex-direction: column;
    gap: 13px;
    h3{
      font-size: var(--fs-plain-text-small);
      color: var(--text-color);
      text-transform: uppercase;
    }
    h2{
      font-size: var(--fs-heading-big);
    }
    p{
      font-size: var(--fs-plain-text-medium);
      line-height: 1.8;
    }
  }
}
.contact-button{
  font-size: var(--fs-plain-text-medium);
  text-transform: uppercase;
  background: linear-gradient(90deg, var(--button-color-from) 0%, var(--button-color-to) 100%);
  color: white;
  width: 147px;
  height: 57px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 0px 5px 5px 0px;
}
.contact-button:hover{
  transition: .3s ease-in-out;
  transform: scale(1.1);
}
#root{
  overflow-x: hidden;
}
.hide-header {
  transform: translateY(-100%);
}

.show-header {
  transform: translateY(0);
}
header{
  padding-top: 20px;
  position: fixed;
  padding-bottom: 40px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  width: 100vw;
  .header-content{
    padding: 10px 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 1px 2px 3px rgba(0,0,0, 16%);
    border-radius: 20px;
    h2{
      font-size: var(--fs-heading-medium);
      color: var(--text-color);
    }
    nav{
      ul{
        list-style: none;
        display: flex;
        align-items: baseline;
        gap: 25px;
        a{
          outline: none;
          font-weight: bolder;
          text-transform: uppercase;
          text-decoration: none;
          color: var(--text-color);
          font-size: var(--fs-plain-text-smallest);
        }
      }
    }
  }
}
.hero-section{
  padding-bottom: 100px;
  .hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    .text{
      gap: 46px;
      section{
        width: 384px;
        h1{
          font-size: var(--fs-heading-big);
        }
      }
      .input{
        display: flex;
        input{
          width: 321px;
          height: 59px;
          padding-left: 10px;
          font-size: 18px;
          border: none;
          outline: none;
          box-shadow: -1px 1px 2px 2px rgba(0,0,0, 16%)
        }
        
      }
    }
  }
}
.luxury-section{
  padding-bottom: 170px;
  .luxury-section-content{
    display: flex;
    flex-direction: column;
    gap: 104px;
    .text{
      section{
        width: 636px;
        p{
          font-size: var(--fs-plain-text-medium);
        }
        h6{
          display: none;
        }
      }
    }
    .services-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      .text{
        cursor: pointer;
        padding: 15px;
        section{
          width: 300px;
        }
      }
      .text:hover{
        box-shadow: 0px 2px 2px 2px rgba(0,0,0, 16%);
        transition: .3s ease-in-out;
      }
    }
  }
}
.you-should-see{
  padding-bottom: 100px;
  .you-should-see-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .fake-video{
      width: 564px;
      height: 465px;
      background-color: var(--gradient-from);
    }
    .text{
      gap: 51px;
      section{
        width: 471px;
      }
      button{
        border-radius: 5px;
      }
    }
    
  }
}
.useful-info{
  padding-bottom: 150px;
  .useful-info-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .accordion{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
    .accordion-item{
      width: 535px;
      padding: 34px 0px;
      box-shadow: 0px 2px 2px 2px black;
      .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: 0 auto;
        transition: background-color .3s ease-in-out;
      }
      .content{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
      }
    }
  }
}
.our-team{
  padding-bottom: 150px;
  .our-team-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    .team{
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      .member{
        width: 535px;
        border: 2px solid #E4E4E4;
        display: flex;
        align-items: center;
        gap: 44px;
        cursor: pointer;
        transition: background-color 3s ease-in-out;
        section{
          display: flex;
          flex-direction: column;
          gap: 9px;
          margin-bottom: 23px;
          h4{
            font-size: var(--fs-plain-text-big);
          }
          p{
            font-size: var(--fs-plain-text-big);
          }
        }
      }
      .member:hover{
        transition: .3s ease-in-out;
        transform: scale(1.02);
        background: linear-gradient(90deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
        section{
          color: white;
        }
      }
    }
  }
}
.publication{
  padding-bottom: 140px;
  .publication-content{
    display: flex;
    flex-direction: column;
    gap: 58px;
    .posts-container{
      display: flex;
      align-items: center;
      gap: 30px;
      .post{
        display: flex;
        flex-direction: column;
        gap: 28px;
        width: 345px;
        height: 539px;
        box-shadow: 0px 1px 1px 1px black;
        img{
          height: 320px;
          object-fit: cover;
        }
        .post-text{
          max-width: 92%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          gap: 30px;
          .date{
            display: flex;
            justify-content: space-between;
          }
          h3{
            font-size: var(--fs-heading-small);
          }
  
        }
      }
    }
  }
}
.newsletter{
  background: linear-gradient(90deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
  .newsletter-content{
    height: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    input{
      width: 540px;
    }
    h2{
      color: white;
      font-size: var(--fs-plain-text-biggest);
    }
  }
}
footer{
  padding-top: 90px;
  padding-bottom: 90px;
  .footer-content{
    display: flex;
    align-items: flex-start;
    gap: 127px;
    h4{
      font-size: var(--fs-plain-text-medium);
    }
    .contact{
      display: flex;
      flex-direction: column;
      gap: 20px;
      .contact-header{
        width: 160px;
      }
      section{
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .btn-section{
        display: flex;
        flex-direction: row;
        gap: 0;
        button{
          width: 128px;
          height: 52px;
          border: 2px solid #707070;
          background-color: transparent;
          cursor: pointer;
          outline: none;
        }
        .btn2{
          border-radius: 0px 5px 5px 0px ;
          border-left: none;
        }
        .btn{
          border-radius: 5px 0px 0px 5px ;

        }
      }
    }
    .lists-container{
      display: flex;
      align-items: center;
      gap: 140px;  
      ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;

      }
    }
  }
}